body {
  font-family: Arial, Helvetica, sans-serif;
}

/* UTILITIES */


.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between
}

.debug {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid black; 
}

.de-box > div {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
  background-color: #FF6900;
  box-shadow: 0 0 2px  black;
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.top-bar ul li {
  padding-right: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}

.top-bar ul li,
.bottom-bar .box-informativa ul li {
  display: inline-block;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.top-bar a:hover {
  text-underline-offset: 5px;
  text-decoration-thickness: 0rem;
}

.top-bar .menu {
  color: white;
  width: 25%;
  min-width: 190px;
}

.top-bar .menu.user {
  text-align: right;
}

.top-bar .menu.user a i {
  text-align: right;
  font-size: 0.7rem;
  padding-left: 5px;
  padding-bottom: 5px;
}

.top-bar .logo {
  text-align: center;
  width: 50%;
}

.top-bar img {
  height: 25px;
}

/* MAIN */

.main-wrap {
  flex-wrap: wrap;
  padding-top: 60px;
  margin: 40px auto;
  width: 98%;
}
  
  /* PRODUCT */

.product {
  width: 33%;
  max-width: 390px;
  min-width: 245px;
  margin: 20px 0;
}

.product .big-col,
.product .small-col {
  width: 100%;
}

/* BIG COL (IMAGE BOX) */

.big-col {
  cursor: pointer;
}

.big-col img:last-child {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.big-col:hover img:last-child {
  display: block;
}

.product .big-col {
  position: relative;
}

.product img {
  width: 100%;
}

.product .heart {
  position: absolute;
  top: 20px; 
  right: 0;
  background-color: white;
  padding: 5px 15px;
  font-size: 2rem;
}

.product .heart:hover {
  color: red;
}

.img-bottom-text {
  position: absolute;
  bottom: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}

.img-bottom-text .badge {
  padding: 5px 10px;
}

.img-bottom-text .discount-percent {
  background-color: red;
}

.img-bottom-text .green-choice {
  background-color: green;
}

/* SMALL COL (TEXT BOX) */

.text-box span:first-child {
  font-size: 0.9rem;
}

.text-box h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

.product-brand,
.discount.price,
.original.price {
  font-size: 0.9rem;
}

.discount.price {
  color: red;
  font-weight: bold;
}

.original.price {
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
}

/* FOOTER */

footer {
  height: 100px;
  color: white;
  background-color: #1A1A1A;
}

footer h2 {
  font-size: 1.2rem;
}

footer ul {
  font-size: 0.8rem;
}

footer ul li {
  position: relative;
  left: -5px;
  padding: 0 5px;
}

.bottom-bar {
  margin: 0 auto;
  padding-top: 25px;
  height: 100%;
}

.box-informativa h2 {
  padding-bottom: 10px;
}

.box-social {
  font-weight: bold;
  flex-direction: column;
  align-items: center;
}

.box-social span {
  font-size: 0.8rem;
}

.box-social .social-icon {
  padding-top: 10px;
  font-size: 1.5rem;
}

.box-social .social-icon a {
  color: white;
}